.tudo div {
    background-color: var(--branco);
    border: solid black 1px;
    padding: 2vh 30vw;

    font-weight: bold;
    font-size: calc(1rem + 0.4vw);
}

.tudo button {
    background: var(--amarelo-botao-copiar);
    background-image: var(--background-botao-copiar);

    border: solid black 1px;
    padding: 2vh 34vw;
    margin-bottom: 8vh;

    font-weight: bold;
    font-size: calc(1rem + 0.4vw);
}